$warm-grey: #878787;
$pinkish-grey: #d0d0d0;
$azure: #11b4e5;

$theme-colors: (
    "primary": #11b4e5,
    "secondary": #878787,
    "light":#d1d1d1
);
$font-family-sans-serif:'Roboto', sans-serif;
$font-family-monospace:'Roboto', sans-serif; 


@import "~bootstrap/scss/bootstrap";