@import "./custom";

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html {
    width: 100%;
    height: 100%;
    line-height: 1.6;
    font-size: 1rem;
    overflow-x: hidden;
}
button:focus {
    outline: 0;
}
.section-padding-top {
    padding-top: 6.25rem;
}
.section-padding-bottom {
    padding-bottom: 6.25rem;
}
.section-margin-top {
    margin-top: 6.25rem;
}
.hero-banner {
    padding: 11rem 0;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .title {
        font-size: 5.625rem;
        font-weight: 500;
        letter-spacing: 6.75px;
        span {
            font-size: 3.75rem;
            font-weight: 100;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.08;
            letter-spacing: 3px;
            text-align: left;
            color: $white;
        }
    }
    .subtitle {
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: 1.2px;
        text-align: left;
        color: #303030;
    }
}
.menu-section {
    border-bottom: 2px solid #e8e8e8;
    .navbar-nav {
        .nav-link {
            font-size: 0.906rem;
            font-weight: 300;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.45px;
            color: #676767;
            &.active {
                font-weight: 500;
                color: $primary;
            }
        }
    }
}
.heading {
    margin-bottom: 3.75rem;
    .title {
        font-size: 2.75rem;
        font-weight: 500;
        letter-spacing: 2.2px;
        text-align: center;
        color: $primary;
    }
    .subtitle {
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-align: center;
        color: $secondary;
        padding: 0;
        margin: 0;
    }
}
.about-us-section {
    .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        p {
            font-size: 1rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: italic;
            line-height: 1.88;
            letter-spacing: 0.8px;
        }
        span {
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.16px;
            font-size: 1rem;
            display: block;
        }
        ul {
            list-style: none;
            display: inline-flex;
            margin: 0 auto;
            li {
                padding: 1rem 1rem 0 1rem;
                a {
                    color: $white;
                    transition: 0.5s ease;
                    &:hover {
                        i {
                            transform: rotatey(360deg);
                        }
                    }
                    i {
                        font-size: 25px;
                        transition: 0.5s ease;
                    }
                }
            }
        }
    }
}
.benefit-section {
    background-color: #fbfbfb;
    .box {
        padding: 2.75rem 0.688rem 2.75rem 0.688rem;
        box-shadow: 0px 8px 33.6px 6.4px rgba(0, 0, 0, 0.05);
        border: solid 1px #eeeeee;
        .box-content {
            h3 {
                font-size: 1.125rem;
                font-weight: 500;
                color: #303030;
                padding-bottom: 15px;
                margin: 0;
                position: relative;
                &::before {
                    content: "";
                    width: 5rem;
                    height: 2px;
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    background-color: #cccccc;
                    transform: translate(-50%, 0);
                }
            }
            p {
                font-size: 0.875rem;
                font-weight: 300;
                color: #303030;
                margin: 1.75rem 0 1.688rem;
            }
        }
    }
}
.btn {
    border-radius: 6rem;
    font-weight: 500;
    font-size: 0.75rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
}
.mix-container .mix {
    display: none;
}
.gallery-section {
    ul {
        list-style: none;
        display: inline-flex;
        margin: 0 auto;
        li.filter {
            margin: 0 3rem;
            transition: 0.5s ease;
            transform-origin: center;
            padding-bottom: 10px;
            border-bottom: 2px solid $white;
            &.active {
                color: $primary;
                border-bottom: 2px solid $primary;
            }
        }
    }
    .mix-container {
        .video-box {
            position: relative;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0.5;
                background-image: radial-gradient(circle at 0 0, #000000, #5b5b5b);
            }
            .video-icon {
                position: absolute;
                z-index: 2;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
        .image-box {
            position: relative;
            overflow: hidden;
            text-align: center;
            .image-content {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                z-index: 1;
                opacity: 0.7;
                background-color: #000000;
                h4 {
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: #ffffff;
                    letter-spacing: 0.6px;
                    margin: 10px 0;
                }
            }
        }
    }
}
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
.contact-section {
    background-color: #fbfbfb;
    .form-control {
        border: solid 1px #eeeeee;
        border-radius: 0;
        &::placeholder {
            color: #a1a1a1;
            font-size: 0.875rem;
            line-height: 1.71;
            letter-spacing: 0.7px;
        }
    }
}
.map-section {
    background-color: #fbfbfb;
}
footer {
    background-color: #fbfbfb;
}
.footer {
    background-color: #fbfbfb;
    border-bottom: 2px solid #eeeeee;
    padding: 2rem 0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            padding-right: 1rem;
            p {
                margin-bottom: 0;
            }
        }
    }
    .social-link {
        a {
            color: #cfcfcf;
            transition: 0.5s ease;
            &:hover {
                i {
                    transform: rotatey(360deg);
                }
            }
            i {
                font-size: 25px;
                transition: 0.5s ease;
            }
        }
    }
    .info-link {
        a {
            color: #303030;
            font-weight: 500;
            font-size: 0.875rem;
        }
        p {
            color: #303030;
            font-weight: 500;
            font-size: 0.875rem;
        }
    }
}

.copyright {
    p {
        text-align: left;
        color: #676767;
        font-size: 0.813rem;
    }
}
.owl-carousel .owl-item img {
    display: block;
    width: auto;
    text-align: center;
    margin: auto;
}
.owl-carousel{
    .item{
        padding: 30px 25px;
    }
}
.navbar-light .navbar-toggler {
    border: none;
}
@media (max-width: 575.98px) { 
    .heading .title {
        font-size: 2rem;
    }
    .hero-banner {
        padding: 2rem 0;
      
    }
    .hero-banner .title {
        font-size: 2rem;
    }
    .hero-banner .title span {
        font-size: 1.3rem;
    }
    .hero-banner .subtitle {
        line-height: normal;
    }
    .gallery-section ul li.filter {
        margin: 0 1rem;
      
    }
 }
@media (max-width: 767.98px) { 
    .gallery-section ul li.filter {
        margin: 0 2rem;
      
    }
    .mobile-banner {
        display: flex;
        flex-wrap: wrap-reverse;
        section{
            width: 100%;
        }
    }
    .section-padding-top {
        padding-top: 4.25rem;
    }
    .section-margin-top {
        margin-top: 4.25rem;
    }
    
    .section-padding-bottom {
        padding-bottom: 4.25rem;
    }
    .footer{
        .info-link{
            li {
                display: block;
                padding-right: 0;
                padding-top: 1rem;
            }
        }
        .social-link{
            text-align: center;
            padding: 2rem 0;
        }
        .text-center-md{
            text-align: center;
        }
    }
    .gallery-section .mix-container .image-box {
        img{
            width: 100%;
        }
    }
    .hero-banner .title {
        font-size: 3rem;
        letter-spacing: 6.75px;
    }
    .hero-banner {
        padding: 4rem 0;
        background-attachment: scroll;
        background-size: cover;
    }
    .hero-banner .title span {
        font-size: 2rem;
    }
    .about-us-section .text-container {
        position: relative;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 1rem;
    }
 }